<h1>Welcome to the login page</h1>
<div class="container">
  <form action="/sessions" method="POST">
     <label for="handle">Username:</label>
     <input type="text" name="handle" placeholder="username"><br>

    <label for="password_hash">Password:</label>
    <input type="text" name="password_hash" placeholder="Password"><br>

    <input type="submit" value="Login">
  </form>

</div>
