<form action="/users" method="post">
  <label for="email">Email:</label>
  <input type="text" name="email"></input>

  <label for="firstname">Firstname:</label>
  <input type="text" name="firstname"></input>

  <label for="lastname">Lastname:</label>
  <input type="text" name="lastname"></input>

  <label for="handle">Handle:</label>
  <input type="text" name="handle"></input>

  <label for="image_link">Avatar URL:</label>
  <input type="text" name="image_link"></input>

  <label for="password_hash">Password:</label>
  <input type="text" name="password_hash"></input>

  <input type="submit"> Create New Account !!!</input>
</form>
