<h2> Welcome to your profile, <%= current_user.firstname %> </h2>

<!-- <h3> Make a chirp: </h3> -->
<form action="/chirps" method="post" class="new-chirp">
  <label for="content">Make a chirp:</label>
  <textarea name="content" maxlength="140" placeholder="chirp chirp chirp"></textarea>
  <input type="submit" value="Post">
</form>


<div class="chirp-container">
  <% if @chirps %>
    <% @chirps.each do |chirp| %>
      <div class="chirp">
          <h4> <%= chirp.user.handle %> <%= chirp.user.handle %> </h4>
      <p><%= chirp.content %></p>
      </div>
    <% end %>
  <% else %>
    <h5> no chirps </h5>
  <% end %>
</div>
