<h1> Welcome to Chirper! </h1>

<h3> Sign Up </h3>
<form action="/users/new" method="get">
  <input type="submit" value="Sign up!!!"> </input>
</form>

<h3>Login!</h3>

<form action="/login" method="get">
  <input type="submit" value="Login"> </input>
</form>

